<div class="container">
  <form class="form" #form="ngForm" (ngSubmit)="process()" novalidate>
  <!-- novalidate permet de supprimer la validation automatique du navigateur -->

    <div class="form-group">
      <input type="text" name="name" class="form-control" placeholder="name" required minlength="2"
      #name="ngModel" [(ngModel)]="newItem.name">{{ newItem.name }}
      <div class="alert alert-danger" *ngIf="name.invalid && name.touched">champs invalide</div>
    </div>

    <div class="form-group">
      <input type="text" name="reference" class="form-control" placeholder="reference" required minlength="5"
      #reference="ngModel" [(ngModel)]="newItem.reference">{{ newItem.reference }}
      <div class="alert alert-danger" *ngIf="reference.invalid && reference.touched">champs invalide</div>
    </div>

    <div class="form-group">
      <select class="form-control" name="state" [(ngModel)]="newItem.state">
        <option *ngFor="let libelle of libelles" [ngValue]="libelle">{{ libelle }}</option>
      </select>
    </div>

    <div class="form-group">
      <button [disabled]="form.invalid" class="btn btn-primary">Valider</button>
    </div>

  </form>
</div>
